<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-/mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.flab.member.repository.GameAccountMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO game_account (lol_login_id, member_id, nickname, position)
        VALUES (#{lolLoginId}, #{memberId}, #{nickname}, #{position})
    </insert>

    <update id="update">
        UPDATE game_account
        SET lol_login_id=#{lolLoginId},
            nickname=#{nickname},
            position=#{position},
            lol_tier_color=#{lolTier.color},
            lol_tier_level=#{lolTier.level},
            lol_tier_point=#{lolTier.point}
        WHERE id = #{id}
    </update>

    <select id="findById" resultMap="gameAccountResultMap">
        <include refid="selectGameAccount"/>
        WHERE id = #{id}
    </select>

    <select id="findByLoginId" resultMap="gameAccountResultMap">
        <include refid="selectGameAccount"/>
        WHERE lol_login_id = #{lolLoginId}
    </select>

    <sql id="selectGameAccount">
        SELECT id             AS gameAccountId,
               member_id      AS memberId,
               nickname       AS nickname,
               lol_login_id   AS lolLoginId,
               lol_tier_color AS lolTierColor,
               lol_tier_level AS lolTierLevel,
               lol_tier_point AS lolTierPoint
        FROM game_account
    </sql>

    <resultMap id="gameAccountResultMap" type="GameAccount">
        <constructor>
            <idArg column="gameAccountId" javaType="Long"/>
            <arg column="memberId" javaType="Long"/>
            <arg column="nickname" javaType="String"/>
            <arg column="lolLoginId" javaType="String"/>
        </constructor>
        <association property="lolTier" javaType="edu.flab.member.domain.LolTier">
            <result column="lolTierColor" javaType="edu.flab.member.domain.LolTier$Color" property="color"/>
            <result column="lolTierLevel" javaType="int" property="level"/>
            <result column="lolTierPoint" javaType="int" property="point"/>
        </association>
    </resultMap>
</mapper>
