<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-/mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.flab.member.repository.GameAccountMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO game_account (lol_login_id, member_id, nickname, rank_tier_group, rank_tier_level)
        VALUES (#{lolLoginId}, #{memberId}, #{nickname}, #{rankTier.group}, #{rankTier.level})
    </insert>

    <update id="update">
        UPDATE game_account
        SET lol_login_id=#{lolLoginId},
            member_id=#{memberId},
            nickname=#{nickname},
            rank_tier_group=#{rankTier.group},
            rank_tier_level=#{rankTier.level}
        WHERE id = #{id}
    </update>

    <select id="findById" resultMap="gameAccountResultMap">
        SELECT id              AS gameAccountId,
               member_id       AS memberId,
               nickname        AS nickname,
               lol_login_id    AS lolLoginId,
               rank_tier_group AS rankTierGroup,
               rank_tier_level AS rankTierLevel
        FROM game_account
        WHERE id = #{id}
    </select>

    <select id="findByLoginId" resultMap="gameAccountResultMap">
        SELECT id              AS gameAccountId,
               member_id       AS memberId,
               nickname        AS nickname,
               lol_login_id    AS lolLoginId,
               rank_tier_group AS rankTierGroup,
               rank_tier_level AS rankTierLevel
        FROM game_account
        WHERE lol_login_id = #{lolLoginId}
    </select>

    <resultMap id="gameAccountResultMap" type="GameAccount">
        <constructor>
            <idArg column="gameAccountId" javaType="Long"/>
            <arg column="memberId" javaType="Long"/>
            <arg column="nickname" javaType="String"/>
            <arg column="lolLoginId" javaType="String"/>
        </constructor>
        <association property="rankTier" javaType="RankTier">
            <result column="rank_tier_group" property="group"/>
            <result column="rank_tier_level" property="level"/>
        </association>
    </resultMap>
</mapper>
